.help-text {
    color: white;
}
.block {
    background-color: #8a8a8a;
    margin: 70px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
}
.image {
    border-radius: 20px;
}
.footer {
    background-color: #8a8a8a;
    margin: 70px;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    padding-top: 5px;
    margin-bottom: 0px;
}